---
# Main Sass file
---
@charset "utf-8";

// Import partials from the `minima` theme.
@import "minima";

// Override link text-decoration on hover
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}
